.detail {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.item {
  width: 100%;
  position: relative;
}

.item label {
  position: absolute;
  left: 20px;
  top: 2;
}
